@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

body, html {
  height: 100%;
  margin: 0;
}


/* NAVBAR */

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: white;
    line-height: 60px;  /* keep 24 pixels difference to thick white line*/
    font-family: 'Josefin Sans', sans-serif;
}

/* NAVBAR left side */

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color:#EFA500;
}
svg.svg-inline--fa.fa-greater-than.fa-w-12 {
    width: .43em;
}

.dropdown-item {
    line-height: 25px;
}

.dropdown-item span {
    margin-left: 5px;
    font-size: 19px;
}

.dropdown-item:hover {
    color:#EFA500;
    background: white;
}

.dropdown-item:hover svg.svg-inline--fa.fa-greater-than.fa-w-12{
   margin-left: 5px;
}


div.dropdown-multicol{
  width: 38em;
}
div.dropdown-row>a.dropdown-item{
  display:inline-block;
  width: 32%;
}

div.dropdown-row {
   line-height: 25px;
}

.navbar {
    padding-bottom: 0px !important;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    background: rgb(0 0 0 / 45%);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,255);
    padding-right: 1rem;
}

.navbar a.navbar-brand.mx-auto { /*NAVBAR BRAND */
    border-left-style: solid;
    border-left-width: thin;
    padding-left: 28px;
    border-right-style: solid;
    border-right-width: thin;
    padding-right: 28px;
    font-size: 25px;
    font-weight: bold;
}

.navbar a.navbar-brand.mx-auto span.brand { /*NAVBAR BRAND ICON*/
    margin-left: 10px;
}

.navbar .social li.facebook-icon {
  text-align: center;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  margin-right: 8px;
  line-height: 2.3rem;
  color: rgba(255, 255, 255, 255);
  background-color: #3C599F;
  margin-left: 10px;
}

.navbar .social li.instagram-icon {
  text-align: center;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  line-height: 2.3rem;
  color: rgba(255, 255, 255, 255);
  background-color: #A1755C;
  margin-left: 10px;
}

.navbar .social li.twitter-icon {
  text-align: center;
  height: 2rem;
  width: 2rem;
  margin-right: 8px;
  border-radius: 100%;
  line-height: 2.3rem;
  color: rgba(255, 255, 255, 255);
  background-color: #32CCFE;
}

.navbar .social li.facebook-icon a {
  color: rgba(255, 255, 255, 255);
}

.navbar .social li.twitter-icon a {
  color: rgba(255, 255, 255, 255);
}

.navbar .social li.instagram-icon a {
  color: rgba(255, 255, 255, 255);
}


/* MAIN PAGE */

.main-page .line {
    position: fixed;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: initial;
    border-color: white;
    padding-bottom: 84px;
}

.main-page {
  /* The image used */
  background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5) ), url("background.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1{
    margin-bottom: .5rem;
    font-weight: 900 !important;
        font-size: 3rem;
        line-height: 2.5rem;
}
div.body-content {
    text-align: left;
    padding-top: 14.6rem;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
}

div.subtitle {
    margin-top: 4rem;
    font-size: 1.6rem;
    font-weight: 900;
}

span.yellow {
    color: #EFA500;
    font-weight: bold;
}
.subtitle-button {
    margin-top: 2.7rem;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #EFA500;
    border-radius: 2rem;
    padding: 0.6rem 1.7rem;
    border-color: #EFA500;
}

.subtitle-button:hover, .subtitle-button:focus {
    background-color: #fff !important;
    color: #EFA500 !important;
}

div.container.recomendations {
    padding-bottom: 6rem;
}

.separator{
  display:flex;
  align-items: center;
  margin-top: 6rem;
  font-family: 'Josefin Sans', sans-serif;
}

.separator .line{
  height: 2px;
  flex: 1;
  background-color: #000;
}

.separator h2{
  padding: 0 2rem;
  font-weight: bold;
}

h2 {
    margin-bottom: 0px !important;
}

.container div.para-line {
    padding-top: 35px;
    text-align: center;
}
.container div.para-line span {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 1.5rem;
}

/* BOX RECOMANDATIONS */

.row {
    margin-top: 3.8rem;
}
.serviceBox{
/*   background: linear-gradient(to right bottom,#eab308, #826203); */
    background: linear-gradient(to right bottom,#fff, #fff);
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    padding: 25px 2px 2px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.serviceBox .title{
    color: #212529;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0 10px 20px;
}

.serviceBox .service-content{
    background-color: #fff;
    padding: 5px 20px 20px;
    border-radius: 0 0 28px 28px;
    position: relative;
    z-index: 1;
}

.serviceBox span.description {
    display: inline-block;
    font-size: 1.1rem;
    margin-top: 10px;
}

/*
.serviceBox .service-content:before,
.serviceBox .service-content:after{
    content: '';
    background: linear-gradient(to right bottom, #eab308, #826203);
    height: 15px;
    width: 30px;
    border-radius: 0 0 200px 200px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.serviceBox .service-content:after{
    background: #fff;
    height: 50px;
    width: auto;
    border-radius: 0;
    transform: translateX(0);
    left: -2px;
    right: -2px;
    z-index: -1;
}
*/
.serviceBox .service-icon{
    color: #eab308;
    font-size: 60px;
    line-height: 50px;
    margin: 0 0 15px;
}

.serviceBox .description{
    color: #777;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.service-icon img {
    height: 50px;
}

/* MISIUNEA NOASTRA section*/

.third-page {
    background: #f8f8f8;
    padding-bottom: 5rem;
}
.third-page .container .justify-content-around .padding-left p {
    margin-top: 20px;
}

div.container.mission {
    margin-top: 20px;
    padding-top: 1rem;
    font-family: 'Josefin Sans', sans-serif;
}

div.col-md-5.col-sm-11.align-center {
    margin: auto;
    width: 50%;
}

div.col-md-5.col-sm-11.padding-left {
    padding-left: 30px;
}

div.col-md-5.col-sm-11.padding-right {
    padding-right: 30px;
}

div.mission-img{
    background-image: url(mission.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* CONTACT SECTION AND FOOTER */

.bg-footer {
   background-color: rgb(25, 30, 37);
}

.signup-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.contact-section {
  padding-top: 1rem;
}

.contact-section .social {
  margin-top: 1rem;
}
.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}
.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}


/* FOOTER */

footer {
    padding-top: 20px;
}